
.list-header {
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid #808080;
}

.list-item {
    padding: 5px;
    border: 1px solid #808080;
    margin-top: -1px;
    background: #fff;
}

.list-item-new {
    padding: 5px;
    border: 1px solid #808080;
}

.list-item-new-container {
    margin: 30px 0 0;
}